{% extends "layout.html.twig" %}
{% set eleveMenu = true %}

{% block title %}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
<div class="well">
    <form class="form-horizontal" role="form">
        <div class="form-group">
            <label class="col-sm-3 control-label">Famille</label>
            <div class="col-sm-9">
                <p class="form-control-static">{{ drug.family.name }}</p>
            </div>
        </div>
    </form>
</div>
{% endblock %}