body { 
    padding-top: 40px; 
    
    
}

.footer {
    border-top: 1px solid #ccc;
    padding-top: 10px;
    text-align: center;
    
}
#errorPanel {
    padding-top: 40px;
    padding-bottom: 10px;
}

.adminTable {
    margin-top: 30px;
    margin-bottom: 20px;
}

.eleveTitle:hover, .eleveTitle:focus {
    text-decoration: none;
}